.form {
    /* display: flex; */
    /* justify-content: space-between; */
    margin: auto;
    margin-bottom: 2rem;
}

.form__input {
    display: flex;
    width: 45%;
    position: relative;
    margin: auto;
    margin-bottom: 1rem;
    transition: 0.2s ease-in-out;
}

.form__input input {
    outline: none;
    transition: 0.05s ease-in-out;
    border: 2px solid darkcyan;
}

.form__input input:hover,
.form__input input:active {
    box-shadow: 0px 0px 7px darkcyan !important;
}

.form__submit {
    display: flex;
    width: 20%;
    margin: auto;
    position: relative;
}

.form__input--task {
    width: 100%;
    height: 2.1rem;
    border: transparent;
    padding: 0;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-size: 1.25rem;
}

.form__input--submit {
    padding: 0;
    height: 2.1rem;
    width: 100%;
    font-size: 1.25rem;
}

.form__input--error {
    content: "Enter a valid task";
    outline: 2px solid red;
    transition: 0.1s ease;
}

.message--error {
    justify-self: flex-start;
    color: red;
    position: absolute;
    left: 0;
}


/* .form__input--title {
    min-width: fit-content;
    margin-right: 1rem;
    position: absolute;
}

.form__input input:focus~.form__input--title {
    transform: translate(-50px, -40px);
} */